<div id="header-wrap">
  <header id="header">
    <div class="row no-margin" id="nav-desktop">
      <div class="col s12 m12 l12">
        <nav class="" style="background-color: #cc9900">
          <div class="nav-wrapper">
            <a sref="/" class="brand-logo">GTM²</a>
            <div class="user-links right">
              <span class="login-link"><a ui-sref="homeini.signin"
              class="waves-effect btn-flat big-btn dialog-trigger">Login</a></span>
              <span class="login-link"><a ui-sref="homeini.signup"
              class="waves-effect btn-flat big-btn dialog-trigger">Registro</a></span>              
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
</div>

<div ui-view> <!-- Acá es donde se cargan las vistas que se piden por medio de SPA-->

</div>
